// -----------------------------------------------------------
// Images ----
// -----------------------------------------------------------

// .img--logo
// .img--frame
// .img--avatar

.img--logo {
  margin: 0 auto;
  display: block;
}

.img--frame {
  margin-top: 1em;
  display: block;
  border: 1px solid $color-font-default;
  padding: 15px;
  margin: 0;
  max-width: 100%;
}

.img--avatar {
  margin: 0 auto;
  display: block;
  margin-top: 2em;
}

img {
  display: block;
}
