
// -----------------------------------------------------------
// Base - Universal selector, ul and p elements ----
// -----------------------------------------------------------

* { 
    box-sizing: border-box;
    line-height: 1.5;
}

ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}


